### FRONTEND ###

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
src/config.js
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### BACKEND ###
env
venv
# database.py
.vscode
/backend/.config
/backend/check_pass.py
/miseguimiento-front/src/config.js
__pycache__